{% extends "base.html" %}
{% block titre %}Facture {{facture.id}}{% endblock %}
{% block content %}

<h2>Commande [{{facture}}]</h2>

<ul id="bill_info">
    <li onclick="window.location='/bill/{{facture.id}}/category/select/'">Envoi en cuisine</li>
    <li onclick="window.location='/bill/{{facture.id}}/table/select/'"
        {% if facture.est_surtaxe %}class="warning"{% endif %}>
        Table:</br>{{facture.table.nom}}</li>
    <li onclick="window.location='/bill/{{facture.id}}/couverts/select/'">Couverts:</br>{{facture.couverts}}</li>
    <li onclick="window.location='/bill/{{facture.id}}/onsite/'" 
        {% if facture.onsite %}
            class="enabled">sur place
        {% else %}
            class="disabled">à emporter
        {% endif %}
    </li>
    <li>Imprimer la facture</li>
    <li>Total TTC:</br>{{facture.total_ttc}}€</li>
    <li>Restant à payer:</br>{{facture.restant_a_payer}}€</li>
    <li onclick="window.location='/bill/{{facture.id}}/delete/'" class="critical">Supprimer</li>
</ul></br></br></br>

<h3>TVA</h3>
<ul id="vats">
    {% for vat in facture.vats.all %}
    <li>{{vat}}</li>
    {% empty %}
    <li>Aucune TVA</li>
    {% endfor %}
</ul></br></br></br>

<h3>Paiements</h3>
<ul id="paiements">
    <li onclick="window.location='/bill/{{facture.id}}/payment/'">Ajouter</li>
    {% for payment in facture.paiements.all %}
        <li onclick="window.location='/bill/{{facture.id}}/payment/{{payment.id}}/'">
        <a href='/bill/{{facture.id}}/payment/select/'>{{payment.type.nom}} {{payment.montant}}</a></li>
    {% endfor %}
</ul></br></br>

<h3>Produits</h3>
<ul id="products_sold">
    <li onclick="window.location='/bill/{{facture.id}}/category/select/'">Ajouter</li>
    {% for vendu in facture.produits.all %}
    <li style="background:{{vendu.produit.categorie.couleur.web}};" onclick="window.location='/bill/{{facture.id}}/sold/{{vendu.id}}/view/'">
        {{vendu}}</br>
        {% for subproduct in vendu.contient.all %}
            {{subproduct}} 
        {% endfor %}
        </li>
    {% endfor %}
</ul></br></br>


{% endblock %}

