{% extends "base.html" %}
{% block titre %}Facture {{facture.id}}{% endblock %}
{% block content %}

<h2>Commande [{{facture}}]</h2>

<center><table border=1>
        <tr>
            <td>Table:</td>
            <td><a href="/bill/{{facture.id}}/table/select/">{{facture.table.nom}} [modifier]</a></td>
            <td>Couverts:</td>
            <td><a href="/bill/{{facture.id}}/couverts/select/">{{facture.couverts}} [modifier]</a></td>
        </tr>
        <tr>
            <td>Reste à payer</td>
            <td>{{facture.restant_a_payer}} €</td>
        </tr>
</table></center>

<h3>Produits</h3>
<ul id="products">
    <li onclick="window.location='/bill/{{facture.id}}/category/select/'">
        <a href='/bill/{{facture.id}}/category/select/'>Ajouter</a></li>
</ul>
</br></br></br>
<center>
{% if facture.produits %}
    <table border="1">
    {% for vendu in facture.produits.all %}
        <tr><td>{{ vendu.produit.nom_facture }}</td></tr>
        {% if vendu.contient %}
            {% for sub in vendu.contient.all %}
                <tr><td align="right">- {{ sub.produit.nom }}</td></tr>
            {% endfor %}
        {% endif %}
    {% endfor %}
    </table>
{% else %}
    <p>Pas de produit.</p>
{% endif %}
</center>

<h2>Paiements</h2>
<center>
{% if facture.paiements %}
    <table border="1"><tr><td>date</td><td>type</td><td>montant</td></tr>
    {% for paiement in facture.paiements.all %}
        <tr><td>{{ paiement.date }}</td><td>{{ paiement.type.nom }}</td><td>{{ paiement.montant }}</td></tr>
    {% endfor %}
    </table>
{% else %}
    <p>Pas de paiement.</p>
{% endif %}
</center>


{% endblock %}

