{% extends "base.html" %}
{% block titre %}Facture {{facture.id}}{% endblock %}
{% block content %}

<h2>Commande [{{facture}}]</h2>

<center><table border=1>
        <tr>
            <td onclick="window.location='/bill/{{facture.id}}/table/select/'">Table: <a href="/bill/{{facture.id}}/table/select/">{{facture.table.nom}} [modifier]</a></td>
            <td onclick="window.location='/bill/{{facture.id}}/couverts/select/'">Couverts: <a href="/bill/{{facture.id}}/couverts/select/">{{facture.couverts}} [modifier]</a></td>
            <td onclick="window.location='/bill/{{facture.id}}/couverts/select/'"><a href="/bill/{{facture.id}}/couverts/select/">sur place [modifier]</a></td>
        </tr>
        <tr>
            <td>Reste à payer</td>
            <td>{{facture.restant_a_payer}} €</td>
        </tr>
</table></center>

<h3>Paiements</h3>
<ul id="paiements">
    <li onclick="window.location='/bill/{{facture.id}}/paiement/select/'">
    <a href='/bill/{{facture.id}}/paiement/select/'>Ajouter</a></li>
    {% for paiement in facture.paiements.all %}
        <li onclick="window.location='/bill/{{facture.id}}/paiement/select/'">
        <a href='/bill/{{facture.id}}/paiement/select/'>{{paiement.type.nom}} {{paiement.montant}}</a></li>
    {% endfor %}
</ul></br></br>

<h3>Produits</h3>
<ul id="products_sold">
    <li onclick="window.location='/bill/{{facture.id}}/category/select/'">
    <a href='/bill/{{facture.id}}/category/select/'>Ajouter</a></li>
    {% for vendu in facture.produits.all %}
        <li onclick="window.location='/bill/{{facture.id}}/category/select/'">
        <a href='/bill/{{facture.id}}/category/select/'>{{vendu}} {{vendu.prix}}€</a></br>
        {% for subproduct in vendu.contient.all %}
            {{subproduct}} 
        {% endfor %}
        </li>
    {% endfor %}
</ul></br></br>


{% endblock %}

