{% extends "base.html" %}
{% block content %}

<ul id="bills">
    <li onclick="window.location='/bill/new/'">
        <a href="/bill/new/">Nouvelle commande</a>
    </li>
    {% if factures %}
        {% for facture in factures %}
        <li onclick="window.location='/bill/{{facture.id}}/'">
        {{facture}}</br>
        Couverts: {{facture.couverts}}</br>
        Table: {% if facture.table %}{{facture.table}}{% endif %}</br>
        </li>
        {% endfor %}
    {% endif %}
</ul>

{% endblock %}

