{% extends "base.html" %}
{% block titre %}Facture {{facture.id}}{% endblock %}
{% block content %}

<h1>Commande [{{facture}}]</h1>
<ul id="bill_info">
    {% if facture.category_to_follow %}
        <li onclick="window.location='/bill/{{facture.id}}/kitchen/'"
        style="background:{{facture.category_to_follow.color}};"
        >Cuisine:</br>Envoyé {{facture.category_to_follow.nom}} ?
    {% else %}
        <li>Cuisine:</br>Rien à envoyer
    {% endif %}
    </li>
    <li onclick="window.location='/bill/{{facture.id}}/table/select/'"
        {% if facture.overcharge %}class="warning"{% endif %}>
        Table:</br>{{facture.table.nom}}</li>
    <li onclick="window.location='/bill/{{facture.id}}/couverts/select/'">Couverts:</br>{{facture.couverts}}</li>
    <li onclick="window.location='/bill/{{facture.id}}/onsite/'" 
        {% if facture.onsite %}
            class="enabled">sur place
        {% else %}
            class="disabled">à emporter
        {% endif %}
    </li>
    <li onclick="window.location='/bill/{{facture.id}}/print/'">Imprimer le ticket</li>
    <li>Total TTC:</br>{{facture.total_ttc}}€</li>
    <li>Restant à payer:</br>{{facture.restant_a_payer}}€</li>
    <li onclick="window.location='/bill/{{facture.id}}/delete/'" class="critical">Supprimer</li>
</ul>

<h2><!--Produits--></h2>
<ul id="products_sold">
    <li onclick="window.location='/bill/{{facture.id}}/category/select/'">Ajouter un produit</li>
    {% for type_produit, list_produit in facture.regroup_produits.items %}
    <li style="background:{{list_produit.0.1.produit.categorie.color}}" id="{{type_produit}}" href="javascript:void(0)" onclick="javascript:myLinkButtonClick(this.id);">{{list_produit|length}} x {{type_produit}}</li>
    <div id="list_{{type_produit}}" style="display: none">
      {% for vendu_id_in_model, vendu in list_produit %}
      <li style="background:{{vendu.produit.categorie.color}}" onclick="window.location='/bill/{{facture.id}}/sold/{{vendu_id_in_model}}/view/'">
	{{vendu}} ({{vendu.produit.get_prize}})
	{% if vendu.cuisson %}({{vendu.cuisson}}){% endif %}
	{{ vendu.get_menu_resume }}
      </li>
      {% endfor %}
    </div>
    {% endfor %}
</ul>

<h2><!--Paiements--></h2>
<ul id="paiements">
    <li onclick="window.location='/bill/{{facture.id}}/payment/'">Ajouter un paiement</li>
    {% for payment in facture.paiements.iterator %}
        <li onclick="window.location='/bill/{{facture.id}}/payment/view/{{payment.id}}/'">
        {{payment.type.nom}} {{payment.montant}}</li>
    {% endfor %}
</ul>

<h2>Suivi en cuisine</h2>
<ul id="kitchen">
    {% for follow in facture.following.iterator %}
    <li onclick="window.location='/kitchen/{{facture.id}}/'" 
            style="background:{{follow.category.color}};">
         {{follow}}
    </li>
    {% empty %}
    <li>Aucun suivi.</li>
    {% endfor %}
</ul>

{% endblock %}

