{% extends "base.html" %}
{% block content %}

<ul id="back">
    <li onclick="window.location='/bill/{{bill.id}}/'">Retour</li>
</ul>

<h1>Ajout de produits</h1>
<ul id="categories">
    {% for category in categories %}
    <li onclick="window.location='/bill/{{bill.id}}/category/{{category.id}}/'" style="background:{{category.color}};">
        {{category.nom}}
        </li>
    {% empty %}
        <li>Aucune categorie disponible.</li>
    {% endfor %}
</ul>

<h2><!--Sélection du produit--></h2>
<ul id="products">
    {% for product in products %}
        <li 
            onclick="window.location='/bill/{{bill.id}}/product/add/{{product.id}}/'" 
            style="background:{{product.categorie.color}};">{{product.nom}}
        </li>
    {% empty %}
        <li>Aucun produit disponible.</li>
    {% endfor %}
</ul>

<h1>Produits présents sur la commande</h1>
<ul id="products_sold">
  {% for type_produit, list_produit in bill.regroup_produits.items %}
  {% if list_produit|length > 1 %}
  <li style="background:{{list_produit.0.1.produit.categorie.color}}" id="{{type_produit}}" href="javascript:void(0)" onclick="javascript:myLinkButtonClick(this.id);">{{list_produit|length}} x {{type_produit}}</li>
  <div id="list_{{type_produit}}" style="display: none">
    {% for vendu_id_in_model, vendu in list_produit %}
    <li style="background:{{vendu.produit.categorie.color}}" onclick="window.location='/bill/{{bill.id}}/sold/{{vendu_id_in_model}}/view/'">
      {{vendu}} ({{vendu.produit.get_prize}})
      {% if vendu.cuisson %}({{vendu.cuisson}}){% endif %}
      {{ vendu.get_menu_resume }}
    </li>
    {% endfor %}
  </div>
  {% else %}
  <li style="background:{{list_produit.0.1.produit.categorie.color}}" id="{{type_produit}}" onclick="window.location='/bill/{{bill.id}}/sold/{{list_produit.0.0}}/view/'">
    {{list_produit.0.1}} ({{list_produit.0.1.prix}})
    {% if list_produit.0.1.cuisson %}({{list_produit.0.1.cuisson}}){% endif %}
    {{ list_produit.0.1.get_menu_resume }}
  </li> 
  {% endif %}
  {% empty %}
  <li>Aucun produit</li>
  {% endfor %}
</ul>

{% endblock %}

