{% extends "base.html" %}
{% block content %}

<ul id="back">
    <li onclick="window.location='/bill/{{bill_id}}/category/{{sold.produit.categorie.id}}/'">Retour</li>
</ul>

<h1>Choix de la cuisson pour: {{sold.produit.nom}}</h1>
<ul id="cookings">
    {% for cooking in cookings %}
    <li onclick="window.location='/bill/{{bill_id}}/sold/{% if menu_id %}{{menu_id}}/{% endif %}{{sold.id}}/cooking/{{cooking.id}}/'"
    style="background:{{cooking.color}};">
        {{cooking}}
        </li>
    {% empty %}
    <li>Aucune cuisson disponible.</li>
    {% endfor %}
</ul>

{% endblock %}

