{% extends "base_bill.html" %}
{% block content %}

<h1>Commandes ({{factures|length}})</h1>
<ul id="bills">
    <li onclick="window.location='/bill/new/'">Nouvelle commande</li>
    {% if factures %}
        {% for facture in factures %}
        <li onclick="window.location='/bill/{{facture.id}}/'">
        {{facture}}</br>
        Couverts: {{facture.couverts}}</br>
        Table: {% if facture.table %}{{facture.table}}{% endif %}</br>
        Montant: {{facture.total_ttc}}€</br>
        </li>
        {% endfor %}
    {% endif %}
</ul>

{% endblock %}

