{% extends "base.html" %}
{% block content %}

<ul id="bills">
    <li onclick="window.location='/bill/new/'">Nouvelle commande</li>
    {% if factures %}
        {% for facture in factures %}
        <li onclick="window.location='/bill/{{facture.id}}/'">
        {{facture}}</br>
        Table: {% if facture.table %}{{facture.table}}{%else%}T--{% endif %}</br>
        Couverts: {{facture.couverts}}</br>
        Montant: {{facture.total_ttc}}€</br>
        </li>
        {% endfor %}
    {% endif %}
</ul>

{% endblock %}

