{% extends "base.html" %}
{% block titre %}Facture {{facture.id}}{% endblock %}
{% block content %}

<ul id="back">
    <li onclick="window.location='/bills/'">Retour commandes</li>
</ul>

<h1>Commande [{{facture}}]</h1>
<ul id="bill_info">
    <li onclick="window.location='/bill/{{facture.id}}/kitchen/'"
    {% if next %}
        style="background:{{next.couleur.web}};"
        >Cuisine:</br>Envoyé {{next.nom}} ?
    {% else %}
        >Cuisine:</br>Rien à envoyer
    {% endif %}
    </li>
    <li onclick="window.location='/bill/{{facture.id}}/table/select/'"
        {% if facture.est_surtaxe %}class="warning"{% endif %}>
        Table:</br>{{facture.table.nom}}</li>
    <li onclick="window.location='/bill/{{facture.id}}/couverts/select/'">Couverts:</br>{{facture.couverts}}</li>
    <li onclick="window.location='/bill/{{facture.id}}/onsite/'" 
        {% if facture.onsite %}
            class="enabled">sur place
        {% else %}
            class="disabled">à emporter
        {% endif %}
    </li>
    <li onclick="window.location='/bill/{{facture.id}}/print/'">Imprimer le ticket</li>
    <li>Total TTC:</br>{{facture.total_ttc}}€</li>
    <li>Restant à payer:</br>{{facture.restant_a_payer}}€</li>
    <li onclick="window.location='/bill/{{facture.id}}/delete/'" class="critical">Supprimer</li>
</ul>

<h2>Produits</h2>
<ul id="products_sold">
    <li onclick="window.location='/bill/{{facture.id}}/category/select/'">Ajouter</li>
    {% for vendu in facture.produits.all %}
    <li style="background:{{vendu.produit.categorie.couleur.web}};" onclick="window.location='/bill/{{facture.id}}/sold/{{vendu.id}}/view/'">
        {{vendu}}</br>
        {% if vendu.cuisson %}({{vendu.cuisson}}){% endif %}
        {{ vendu.get_menu_resume }}
        </li>
    {% endfor %}
</ul>

<h2>Paiements</h2>
<ul id="paiements">
    <li onclick="window.location='/bill/{{facture.id}}/payment/'">Ajouter</li>
    {% for payment in facture.paiements.all %}
        <li onclick="window.location='/bill/{{facture.id}}/payment/view/{{payment.id}}/'">
        {{payment.type.nom}} {{payment.montant}}</li>
    {% endfor %}
</ul>

<h2>TVA</h2>
<ul id="vats">
    {% for vat in facture.vats.all %}
    <li>{{vat}}</li>
    {% empty %}
    <li>Aucune TVA</li>
    {% endfor %}
</ul>

<h2>Suivi en cuisine</h2>
<ul id="kitchen">
    {% for suivi in suivis %}
    <li onclick="window.location='/bill/{{suivi.facture.id}}/'" 
            style="background:{{suivi.category.couleur.web}};">
         {{suivi}}
    </li>
    {% empty %}
    <li>Aucun suivi.</li>
    {% endfor %}
</ul>

{% endblock %}

