{% extends "base.html" %}
{% block content %}

<h1>Nouveau paiement</h1>

<ul id="type_payment">
    {% for type in type_payments %}
        <li>{{type.nom}}</li>
    {% empty %}
        <li>Aucun type de paiement disponible.</li>
    {% endfor %}
</ul>

<ul id="products">
    <li onclick="window.location='/bill/{{bill_id}}/category/select/'">Retour</li>
    {% for product in products %}
        <li 
            onclick="window.location='/bill/{{bill_id}}/product/add/{{product.id}}/'" 
            style="background:{{product.categorie.couleur.web}};">{{product.nom}}
        </li>
    {% empty %}
        <li>Aucun produit disponible.</li>
    {% endfor %}
</ul>

{% endblock %}

