{% extends "base_bill.html" %}
{% block content %}

<ul id="back">
    <li onclick="window.location='/bill/{{bill_id}}/'">Retour facture</li>
</ul>

<h1>Nouveau paiement</h1>
<h2>Type</h2>
<ul id="type_payment">
    {% for type in type_payments %}
        <li {% if type == type_selected %}class="enabled"{% endif %}
            onclick="window.location='/bill/{{bill_id}}/payment/{{type.id}}/'" >
        {{type.nom}}</li>
    {% empty %}
        <li>Aucun type de paiement disponible.</li>
    {% endfor %}
</ul>

<h2>Montant</h2>
<ul id="payment_tickets">
{% if type_selected %}
    {% if type_selected.fixed_value %}
    <li onclick="window.location='/bill/{{bill_id}}/payment/{{type_selected.id}}/{{left}}.{{right}}/{{tickets_count}}/set/'" >
    Valeur d'un ticket: {{left}}.{{right}}€</li>
    <li onclick="window.location='/bill/{{bill_id}}/payment/{{type_selected.id}}/{{left}}.{{right}}/count/'" >
     Nb tickets: {{tickets_count}}</li>
    <li onclick="window.location='/bill/{{bill_id}}/payment/{{type_selected.id}}/{{left}}.{{right}}/{{tickets_count}}/save/'"> Enregistrer le paiement</li>

    {% else %}
    <li onclick="window.location='/bill/{{bill_id}}/payment/{{type_selected.id}}/{{left}}.{{right}}/0/set/'" >
    Montant: {{left}},{{right}}€</li>
    <li onclick="window.location='/bill/{{bill_id}}/payment/{{type_selected.id}}/{{left}}.{{right}}/0/save/'">Enregistrer le paiement
        </li>
    {% endif %}
{% else %}
    <li>Montant: {{left}},{{right}}€</li>
    <li>Enregistrer le paiement</li>
{% endif %}
</ul>

{% endblock %}

