{% extends "base.html" %}
{% block content %}

<h1>Sélection d'un montant</h1>
<ul id="lcd">
    {% for i in left %}
    <li><img src="/static/images/numbers/orange/digit_{{i}}.png"></li>
    {% endfor %}
    <li><img src="/static/images/numbers/orange/dot.png"></li>
    {% for i in right %}
    <li><img src="/static/images/numbers/orange/digit_{{i}}.png"></li>
    {% endfor %}
</ul>
<ul id="lcd_save">
    <li onclick="window.location='/bill/{{bill_id}}/payment/{{type_id}}/{{left}}.{{right}}/{{count}}/'">Enregistrer</li>
</ul>
</br></br>
<ul id="calc">
    <li onclick="window.location='/bill/{{bill_id}}/payment/{{type_id}}/{{left}}.{{right}}/{{count}}/set/{{part}}/6/'">
        6</li>
    <li onclick="window.location='/bill/{{bill_id}}/payment/{{type_id}}/{{left}}.{{right}}/{{count}}/set/{{part}}/7/'">
        7</li>
    <li onclick="window.location='/bill/{{bill_id}}/payment/{{type_id}}/{{left}}.{{right}}/{{count}}/set/{{part}}/8/'">
        8</li>
    <li onclick="window.location='/bill/{{bill_id}}/payment/{{type_id}}/{{left}}.{{right}}/{{count}}/set/{{part}}/9/'">
        9</li>
        </br></br></br></br>
    <li onclick="window.location='/bill/{{bill_id}}/payment/{{type_id}}/{{left}}.{{right}}/{{count}}/set/{{part}}/2/'">
        2</li>
    <li onclick="window.location='/bill/{{bill_id}}/payment/{{type_id}}/{{left}}.{{right}}/{{count}}/set/{{part}}/3/'">
        3</li>
    <li onclick="window.location='/bill/{{bill_id}}/payment/{{type_id}}/{{left}}.{{right}}/{{count}}/set/{{part}}/4/'">
        4</li>
    <li onclick="window.location='/bill/{{bill_id}}/payment/{{type_id}}/{{left}}.{{right}}/{{count}}/set/{{part}}/5/'">
        5</li>
        </br></br></br></br>
    <li onclick="window.location='/bill/{{bill_id}}/payment/{{type_id}}/0.0/{{count}}/set/'">
        DEL</li>
    <li onclick="window.location='/bill/{{bill_id}}/payment/{{type_id}}/{{left}}.{{right}}/{{count}}/set/right/'">
        .</li>
    <li onclick="window.location='/bill/{{bill_id}}/payment/{{type_id}}/{{left}}.{{right}}/{{count}}/set/{{part}}/0/'">
        0</li>
    <li onclick="window.location='/bill/{{bill_id}}/payment/{{type_id}}/{{left}}.{{right}}/{{count}}/set/{{part}}/1/'">
        1</li>
        </br></br></br></br>
</ul>

{% endblock %}

