{% extends "base_bill.html" %}
{% block content %}

<ul id="back">
    <li onclick="window.location='/bill/{{bill_id}}/category/select/'">Retour</li>
</ul>

<h1>Sélection d'un produit</h1>

<ul id="products">
    {% for product in products %}
        <li 
            onclick="window.location='/bill/{{bill_id}}/product/add/{{product.id}}/'" 
            style="background:{{product.categorie.color}};">{{product.nom}}
        </li>
    {% empty %}
        <li>Aucun produit disponible.</li>
    {% endfor %}
</ul>

{% endblock %}

