{% extends "base_bill.html" %}
{% block content %}

<ul id="back">
    <li onclick="window.location='/bill/{{bill.id}}/sold/{{product.id}}/view/'">Retour produit</li>
</ul>

<h1>Ce produit est à envoyer en cuisine avec:</h1>
<ul id="categories">
    {% for category in categories %}
    <li onclick="window.location='/bill/{{bill.id}}/product/{{product.id}}/made_with/{{category.id}}/'" style="background:{{category.color}};">
        {{category.nom}}
        </li>
    {% empty %}
        <li>Aucune categorie disponible.</li>
    {% endfor %}
</ul>

{% endblock %}

