{% extends "base_bill.html" %}
{% block content %}

<h1>Sélection de la table</h1>

{% for zone in zones %}
    <h2>{{zone.nom}}</h2>

    <ul id="tables">
        {% for table in zone.tables %}
            <li onclick="window.location='/bill/{{bill_id}}/table/set/{{table.id}}/'"
            {% if table.zone.surtaxe %}class="surtaxe"{% endif %}>
            {{table.nom}}
            </li>
        {% empty %}
            <li>Aucune table disponible.</li>
        {% endfor %}
    </ul>
{% empty %}
<p>Aucune zone disponible.</p>
{% endfor %}

{% endblock %}

