{% extends "base.html" %}
{% block titre %}Facture {{facture.id}}{% endblock %}
{% block content %}

<ul id="back">
    <li onclick="window.location='/bill/{{bill_id}}/'">Retour Facture</li>
</ul>

<h1>{{sold.produit.nom}}</h1>
<ul id="sold_info">
    {% if sold.produit.categorie.made_in_kitchen %}
    <li onclick="window.location='/bill/{{bill_id}}/product/{{sold.id}}/made_with/'"
        style="background:{{sold.made_with.color}};">
    À envoyer avec:</br>{{sold.made_with}}</li>
    {% endif %}
    {% if sold.produit.choix_cuisson %}
    <li onclick="window.location='/bill/{{bill_id}}/sold/{{sold.id}}/cooking/'">Cuisson:</br>{{sold.cuisson}}</li>
    {% endif %}
    <li>Prix TTC:</br>{{sold.produit.prix}}€</li>
    <li onclick="window.location='/bill/{{bill_id}}/sold/{{sold.id}}/delete/'" class="critical">Supprimer</li>
</ul>

{% if sold.produit.est_un_menu %}
<h2>Contient:</h2>

<ul id="products_sold">
    {% for product in sold.contient.all %}
    <li style="background:{{product.produit.categorie.color}};" onclick="window.location='/bill/{{bill_id}}/sold/{{product.id}}/view/'">{{product.produit.nom}}</br>
    {% if product.cuisson %}({{product.cuisson}}){% endif %}
    </li>
    {% endfor %}
</ul>
{% endif %}

{% endblock %}

