{% extends "base.html" %}
{% block titre %}Facture {{facture.id}}{% endblock %}
{% block content %}

<h2>{{sold.produit.nom}}</h2>

<ul id="sold_info">
    <li onclick="window.location='/bill/{{bill_id}}/'">Retour Facture</li>
    <li onclick="window.location='/bill/{{bill_id}}/category/select/'">À envoyer avec:</br>entrée</li>
    {% if sold.produit.choix_cuisson %}
    <li onclick="window.location='/bill/{{bill_id}}/sold/{{sold.id}}/cooking/'">Cuisson:</br>{{sold.cuisson}}</li>
    {% endif %}
    <li>Prix:</br>{{prize}}€</li>
    <li onclick="window.location='/bill/{{bill_id}}/sold/{{sold.id}}/delete/'" class="critical">Supprimer</li>
</ul></br></br></br>

{% if sold.produit.est_un_menu %}
<h3>Contient:</h3>

<ul id="products_sold">
    {% for product in sold.contient.all %}
    <li style="background:{{product.produit.categorie.couleur.web}};" onclick="window.location='/bill/{{bill_id}}/sold/{{product.id}}/view/'">{{product.produit.nom}}</li>
    {% endfor %}
</ul>
{% endif %}

{% endblock %}

