{% extends "base.html" %}
{% block titre %}Facture {{facture.id}}{% endblock %}
{% block content %}

<h1>Commande [{{facture}}]</h1>
<ul id="bill_info">
    {% if facture.category_to_follow %}
        <li onclick="window.location='/bill/{{facture.id}}/kitchen/'"
        style="background:{{facture.category_to_follow.color}};"
        >Cuisine:</br>Envoyé {{facture.category_to_follow.nom}} ?
    {% else %}
        <li>Cuisine:</br>Rien à envoyer
    {% endif %}
    </li>
    <li onclick="window.location='/bill/{{facture.id}}/table/select/'"
        {% if facture.surcharge %}class="surtaxe"{% endif %}>
        Table:</br>{{facture.table.nom}}</li>
    <li onclick="window.location='/bill/{{facture.id}}/couverts/select/'">Couverts:</br>{{facture.couverts}}</li>
    <li onclick="window.location='/bill/{{facture.id}}/onsite/'"
        {% if facture.onsite %}
            class="enabled">sur place
        {% else %}
            class="disabled">à emporter
        {% endif %}
    </li>
    <li onclick="window.location='/bill/{{facture.id}}/print/'">Imprimer le ticket</li>
    <li>Total TTC:</br>{{facture.total_ttc}}€</li>
    <li>Restant à payer:</br>{{facture.restant_a_payer}}€</li>
    <li onclick="window.location='/bill/{{facture.id}}/delete/'" class="critical">Supprimer</li>
</ul>

<h2><!--Produits--></h2>
<ul id="products_sold">
    <li onclick="window.location='{% url "bill_categories" facture.id %}'">
        Ajouter un produit</li>
    {% for sold in products_sold %}
        {% if sold.count > 1 %}
    <li style="background:{{sold.produit.categorie.color}}"
        id="{{sold.id}}" href="javascript:void(0)"
        onclick="javascript:myLinkButtonClick(this.id);">
        {{sold.count}}x {{sold.produit.nom}}</li>
    <div id="list_{{sold.id}}" style="display: none">
    {% for member in sold.members %}
    <li style="background:{{sold.produit.categorie.color}}"
        onclick="window.location='{% url "sold_view" facture.id member.id %}'">
        {{member}}
    </li>
    {% endfor %}
    </div>
    {% else %}
    <li style="background:{{sold.produit.categorie.color}}"
        onclick="window.location='{% url "sold_view" facture.id sold.id %}'">
      {{sold}}
    </li>
    {% endif %}
    {% endfor %}
</ul>

<h2><!--Paiements--></h2>
<ul id="paiements">
    <li onclick="window.location='{% url "prepare_payment" facture.id %}'">Ajouter un paiement</li>
    {% for payment in facture.paiements.iterator %}
    <li onclick="window.location='{% url "bill_payment_view" facture.id payment.id %}'">
        {{payment.type.nom}}: {{payment.montant}}€</li>
    {% endfor %}
</ul>

<h2>Suivi en cuisine</h2>
<ul id="kitchen">
    {% for follow in facture.following.iterator %}
    <li onclick="window.location='/kitchen/{{facture.id}}/'"
            style="background:{{follow.category.color}};">
         {{follow}}
    </li>
    {% empty %}
    <li>Aucun suivi.</li>
    {% endfor %}
</ul>

{% endblock %}

