{% extends "base.html" %}
{% block content %}

<ul id="back">
    <li onclick="window.location='{% url "bill_view" bill.id %}'">Retour facture</li>
</ul>

<h2><!-- nombre --></h2>
<ul id="numbers">
    {% for number in range %}
    <li onclick="window.location='{% url "bill_set_number" bill.id number %}'"
        {% if count == number %}class="enabled"{% endif %}>
        {{number}}
    </li>
    {% endfor %}
</ul>

<h1><!--Ajout de produits--></h1>
<ul id="categories">
    {% for category in categories %}
        <li style="background:{{category.color}}" id="{{category.id}}"
            href="javascript:void(0)" onclick="javascript:view_category(this.id);">
        {{category.nom}}
    </li>
    {% empty %}
        <li>Aucune categorie disponible.</li>
    {% endfor %}
</ul>

<h2><!--Sélection du produit--></h2>
<ul id="products">
    {% for category in categories %}
        <div id="cat_{{category.id}}"
            {% if current_cat != category.id %}style="display: none"{% endif %}>
        {% for product in category.products %}
            <li
            onclick="window.location='{% url "product_add" bill.id product.id %}'"
                style="background:{{category.color}}">{{product.nom}}
            </li>
        {% endfor %}
        </div>
    {% endfor %}
</ul>

<h1>Produits présents sur la commande</h1>
<p>Vous pouvez supprimer un produit en le sélectionnant.</p>
<ul id="products_sold">
    {% for sold in products_sold %}
        {% if sold.count > 1 %}
    <li style="background:{{sold.produit.categorie.color}}"
        id="{{sold.id}}" href="javascript:void(0)"
        onclick="javascript:myLinkButtonClick(this.id);">
        {{sold.count}}x {{sold.produit.nom}}</li>
    <div id="list_{{sold.id}}" style="display: none">
            {% for member in sold.members %}
    <li style="background:{{sold.produit.categorie.color}}"
        onclick="window.location='{% url "sold_delete" bill.id member.id %}'">
        {{member}}
    </li>
            {% endfor %}
    </div>
        {% else %}
    <li style="background:{{sold.produit.categorie.color}}"
        onclick="window.location='{% url "sold_delete" bill.id sold.id %}'">
        {{sold}}
    </li>
        {% endif %}
    {% empty %}
    <li>Aucun produit</li>
    {% endfor %}
</ul>

{% endblock %}
