{% extends "base.html" %}
{% block content %}

<ul id="back">
    <li onclick="window.location='{% url "bill_categories" bill_id %}'">Retour</li>
</ul>

<h1>Sélection d'un produit</h1>

<ul id="products">
    {% for product in products %}
        <li onclick="window.location='{% url "product_add" bill_id product.id %}'" 
            class="cat_{{product.categorie_id}}">{{product.nom}}
        </li>
    {% empty %}
        <li>Aucun produit disponible.</li>
    {% endfor %}
</ul>

{% endblock %}

