{% extends "base.html" %}
{% block titre %}Facture {{facture.id}}{% endblock %}
{% block content %}

<ul id="back">
    <li onclick="window.location='/bill/{{bill_id}}/'">Retour facture</li>
</ul>

<h1>{{sold.produit.nom}}</h1>
<ul id="sold_info">
    {% if sold.produit.categorie.made_in_kitchen %}
    <li onclick="window.location='/bill/{{bill_id}}/product/{{sold.id}}/made_with/'"
        style="background:{{sold.made_with.color}};">
    À envoyer avec:</br>{{sold.made_with}}</li>
    {% endif %}
    {% if sold.produit.choix_cuisson %}
    <li onclick="window.location='/bill/{{bill_id}}/sold/{{sold.id}}/cooking/'" style="background:{{sold.cuisson.color}};">Cuisson:</br>{{sold.cuisson}}</li>
    {% endif %}
    <li>Prix TTC:</br>{{sold.prix}}€</li>
    <li onclick="window.location='/bill/{{bill_id}}/sold/{{sold.id}}/delete/'" class="critical">Supprimer</li>
</ul>

{% if sold.produit.est_un_menu %}
<h2>Contient</h2>

<ul id="products_sold">
    {% for product in sold.contient.all %}
    <li style="background:{{product.produit.categorie.color}};" onclick="window.location='/bill/{{bill_id}}/sold/{{product.id}}/view/'">{% if product.notes.count %}* {%endif%}{{product.produit.nom}}</br>
    {% if product.cuisson %}({{product.cuisson}}){% endif %}
    </li>
    {% endfor %}
</ul>
{% else %}
<!-- Les notes et les options ne peuvent être liées à un menu -->
<h2>Options</h2>
<p>Les options en vert sont sélectionnées, il faut appuyer dessus pour activer/désactiver.</p>
<ul id="options">
    {% for option in options %}
    <li onclick="window.location='/bill/{{bill_id}}/sold/{{sold.id}}/option/{{option.id}}/'" {% if option in sold.options.all %}class="enabled"{% endif %}>
        {{option.name}}
    </li>
    {% empty %}
    <li>Aucune option</li>
    {% endfor %}
</ul>

<h2>Notes</h2>
<p>Les notes en vert sont sélectionnées pour le produit.</p>
<ul id="notes">
    {% for note in notes %}
    <li onclick="window.location='/bill/{{bill_id}}/sold/{{sold.id}}/note/{{note.id}}/'" {% if note in sold.notes.all %}class="enabled"{% endif %}>
        {{note.message}}
    </li>
    {% empty %}
    <li>Aucune note</li>
    {% endfor %}
</ul>

<h2>Nouvelle note</h2>
<form action="/bill/{{bill_id}}/sold/{{sold.id}}/view/" method="post">
    {{ note.non_field_errors }}
    {% csrf_token %}
    <table>
        {{note.as_table}}
        <tr><td colspan="2">
                <input type="submit" value="Enregistrer" />
        </td></tr>
    </table>
</form<
{% endif %}

{% endblock %}

