{% extends "base.html" %}
{% block content %}

<ul id="back">
<li onclick="window.location='/manager/'">Retour</li>
</ul>

<h1>Rapports</h1>
<ul id="rapports">
    <li>Nb factures: {{nb_invoices}}</li>
    <li>Total TTC: {{total_ttc}}€</li>
    {% for vat in vats %}
    <li>{{vat}}€</li>
    {% endfor %}
<li onclick="window.location='/manager/rapports/{{year}}/{{month}}/{{day}}/common/send/'">Envoyer par mail</li>
<li onclick="window.location='/manager/rapports/{{year}}/{{month}}/{{day}}/common/print/'">Imprimer</li>
</ul>

<h2>Restauration</h2>
<ul id="rapports">
    <li>Nb de couverts: {{nb_guests}}</li>
    <li>Total TTC: {{guests_total_ttc}}€</li>
    <li>Ticket moyen par couvert: {{guest_average}}€</li>
</ul>

<h2>Bar</h2>
<ul id="rapports">
    <li>Nb factures bar: {{nb_bar}}</li>
    <li>Total TTC: {{bar_total_ttc}}€</li>
    <li>Ticket moyen par facture: {{bar_average}}€</li>
</ul>

<h2>Paiements</h2>
<ul id="rapports">
    {% for payment in payments %}
    <li>{{payment}}€</li>
    {% endfor %}
</ul>

<h2>Categories</h2>
<ul id="rapports">
    {% for category in categories %}
    <li style="background:{{category.color}};">{{category.nom}} : {{category.nb}}</li>
    {% endfor %}
</ul>

{% endblock %}

