{% extends "base.html" %}
{% block content %}

<ul id="back">
    <li onclick="window.location='/manager/charts/year/ttc/'"
        {% if ttc %}class="selected"{% endif %}>TTC</li>
    <li onclick="window.location='/manager/charts/year/bar/'"
        {% if bar %}class="selected"{% endif %}>Bar</li>
    <li onclick="window.location='/manager/charts/year/guests/'"
        {% if guests %}class="selected"{% endif %}>Restaurant</li>
    <li onclick="window.location='/manager/charts/year/vats/'"
        {% if vats %}class="selected"{% endif %}>TVA</li>
    <li onclick="window.location='/manager/charts/year/payments/'"
        {% if payments %}class="selected"{% endif %}>Paiements</li>
    <li onclick="window.location='/manager/charts/year/categories/'"
        {% if categories %}class="selected"{% endif %}>Catégories</li>
    {% for cat in cat_list %}
    <li onclick="window.location='/manager/charts/year/{{cat.id}}/'"
        style="background:{{cat.color}};"
    {% ifequal choice cat.id %}class="selected"{% endifequal %}>{{cat.nom}}</li>
    {% endfor %}

{% if month %}
{% elif week %}

{% else %}
<form method='post' action='/manager/charts/year/{{choice}}/' name='year'>{% csrf_token %}
            {{ year_form.as_ul }}
                <li><input type='submit' value="Afficher l'année"></li>
            </form>

{% endif %}

</ul>

<h1></h1>

<div id='chart_view_1'><p>Il n'y a aucune donnée disponible.</p></div>
<div id='chart_view_2'></div>

{% endblock %}

