{% extends "base.html" %}
{% block content %}

<ul id="back">
    <li onclick="window.location='/manager/'">Retour</li>
</ul>

<h1>Crédits</h1>

<p>Locigiel libre sous licence GPL <a href="http://possum.bonnegent.fr"><img src="/static/images/bandeau-128.png" alt="Possum"/></a>, créé par S. Bonnegent.</p>

<h2>Un grand merci à ...</h2>
<ul id="credits">
    <li>Hélène ROMON pour le logo, les icônes et la patience :)</li>
    <li>Yvon BENOIST pour l'acronyme du logiciel</li>
    <li>...</li>
<ul>

{% endblock %}

