{% extends "base.html" %}
{% block content %}

<ul id="back">
    <li onclick="window.location='/manager/'">Retour</li>
</ul>

<h1>Crédits</h1>

<p>Locigiel libre sous licence GPL <a href="http://www.possum-software.org"><img src="/static/images/bandeau-128.png" alt="Possum"/></a>, créé par S. Bonnegent.</p>

<h2>Un grand merci à ...</h2>
<ul id="credits">
    <li>R. BONNEGENT pour l'idée originale et le besoin</li>
    <li>Y. BENOIST pour l'acronyme du logiciel</li>
    <li>H. ROMON pour le logo, les icônes et la patience :)</li>
    <li>N. PETTIAUX pour les nouveaux Possumers !</li>
<ul>

{% endblock %}

