{% extends "base.html" %}
{% block content %}

<h1>Manager</h1>
<ul id="manager">
    <li onclick="window.location='/manager/archives/'">Archives</li>
    <li onclick="window.location='/manager/credits/'">Crédits</li>
</ul>

<h2>Configuration</h2>
<ul id="manager">
    <li onclick="window.location='/manager/printers/'">Gestion des imprimantes</li>
    <li onclick="window.location='/manager/tables/'">Gestion des tables</li>
    <li onclick="window.location='/manager/vats/'">Gestion des TVA</li>
    <li onclick="window.location='/manager/users/'">Gestion des utilisateurs</li>
</ul>

<h2>Rapports</h2>
<p>L'affichage des rapports nécessite le calcul des statistiques sur les nouvelles
factures. Si beaucoup de factures ont été créées depuis le dernier accès, cette
opération peut prendre du temps (voir plusieurs minutes). Merci d'être patient.</p>
<ul id="manager">
    <li onclick="window.location='/manager/rapports/daily/'">journalier</li>
    <li onclick="window.location='/manager/rapports/weekly/'">hebdomadaire</li>
    <li onclick="window.location='/manager/rapports/monthly/'">mensuel</li>
</ul>

{% endblock %}

