{% extends "base.html" %}
{% block content %}

<ul id="manager">
    <li onclick="window.location='/manager/archives/'">Archives</li>
    <li onclick="window.location='/manager/credits/'">Crédits</li>
</ul>

<h2>Configuration</h2>
<ul id="manager">
    <li onclick="window.location='/carte/categories/'">Carte</li>
    <li onclick="window.location='/manager/printers/'">Imprimantes</li>
    <li onclick="window.location='/notes/'">Notes</li>
    <li onclick="window.location='/manager/tables/'">Tables</li>
    <li onclick="window.location='/manager/vats/'">TVA</li>
    <li onclick="window.location='/manager/users/'">Utilisateurs</li>
</ul>

<h2>Résultats</h2>
<p>L'affichage des informations nécessite la mise à jour des statistiques avec
les dernières factures. S'il y a beaucoup de nouvelles factures, cette
opération peut prendre du temps (voir plusieurs minutes).</p>

{% if bills_to_update %}
<p>Il y a actuellement {{bills_to_update}} en attente.</p>
<ul id="manager">
    <li onclick='window.location="{% url 'update_rapports' %}"'>Mettre à jour</li>
</ul>
{% else %}
<p>Il n'y a pas de facture en attente.</p>
{% endif %}

<h3>Rapports</h3>
<ul id="manager">
    <li onclick="window.location='/manager/rapports/daily/'">jour</li>
    <li onclick="window.location='/manager/rapports/weekly/'">semaine</li>
    <li onclick="window.location='/manager/rapports/monthly/'">mois</li>
</ul>

<h3>Graphiques</h3>
<ul id="manager">
    <li onclick="window.location='/manager/charts/year/'">année</li>
</ul>
{% endblock %}

