{% extends "base.html" %}
{% block content %}

<ul id="back">
    <li onclick='window.location="{% url "stats_charts" "ttc" %}"'
        {% if ttc %}class="selected"{% endif %}>TTC</li>
    <li onclick='window.location="{% url "stats_charts" "bar" %}"'
        {% if bar %}class="selected"{% endif %}>Bar</li>
    <li onclick='window.location="{% url "stats_charts" "guests" %}"'
        {% if guests %}class="selected"{% endif %}>Restaurant</li>
    <li onclick='window.location="{% url "stats_charts" "vats" %}"'
        {% if vats %}class="selected"{% endif %}>TVA</li>
    <li onclick='window.location="{% url "stats_charts" "payments" %}"'
        {% if payments %}class="selected"{% endif %}>Paiements</li>
    <li onclick='window.location="{% url "stats_charts" "categories" %}"'
        {% if categories %}class="selected"{% endif %}>Catégories</li>
    {% for cat in cat_list %}
    <li onclick='window.location="{% url "stats_charts" cat.id %}"'
        class="cat_{{cat.id}}"
    {% ifequal choice cat.id %}class="selected"{% endifequal %}>{{cat.nom}}</li>
    {% endfor %}

<form method='post' action='{% url "stats_charts" choice %}' name='year'>
    {% csrf_token %}
    {{ year_form.as_ul }}
    <li><input type='submit' value="Afficher l'année"></li>
</form>
</ul>

<h1></h1>

<div id='chart_view_1'><p>Il n'y a aucune donnée disponible.</p></div>
<div id='chart_view_2'></div>

{% endblock %}

