{% extends "base.html" %}
{% block content %}

{% if date_form %}
<h1>Rapport du {{date|date:'l d F Y'}}</h1>
<form method='post' action='{% url "stats_daily" %}' name='journalier'>
{% csrf_token %}
<ul id="date_form">
    {{ date_form.as_ul }}
    <li><input type='submit' value='Afficher le jour'></li>
{% elif week_form %}
<h1>Rapport semaine {{week}}/{{year}}</h1>
<form method='post' action='{% url "stats_weekly" %}' name='hebdomadaire'>
{% csrf_token %}
<ul id="week_form">
    {{ week_form.as_ul }}
    <li><input type='submit' value='Afficher la semaine'></li>
{% elif month_form %}
<h1>Rapport mois {{month}}/{{year}}</h1>
<form method='post' action='{% url "stats_monthly" %}' name='mensuel'>
{% csrf_token %}
<ul id="month_form">
    {{ month_form.as_ul }}
    <li><input type='submit' value='Afficher le mois'></li>
{% endif %}
</form>
    <li
{% if date %}
onclick="window.location='/manager/rapports/{{date.year}}/{{date.month}}/{{date.day}}/send/'"
{% elif week %}
onclick="window.location='/manager/rapports/weekly/{{year}}/{{week}}/send/'"
{% elif month %}
onclick="window.location='/manager/rapports/monthly/{{year}}/{{month}}/send/'"
{% endif %}
    >Envoyer par mail</li>
    <li
{% if date %}
onclick="window.location='/manager/rapports/{{date.year}}/{{date.month}}/{{date.day}}/print/'"
{% elif week %}
onclick="window.location='/manager/rapports/weekly/{{year}}/{{week}}/print/'"
{% elif month %}
onclick="window.location='/manager/rapports/monthly/{{year}}/{{month}}/print/'"
{% endif %}
    >Imprimer</li>
</ul>
<table>
    <tr>
        <td></td>
        <td align='right'>Valeur actuelle</td>
        <td align='right'>Année passée</td>
        <td align='right'>Moyenne</td>
        <td align='right'>Max.</td>
    </tr>
    <tr>
        <td>Total TTC</td>
        <td {% if total_ttc_better %}class="enabled"{% endif %} align='right'>{{total_ttc}}</td>
        <td align='right'>{{last_total_ttc}}</td>
        <td align='right'>{{avg_total_ttc}}</td>
        <td align='right'>{{max_total_ttc}}</td>
    </tr>
    <tr>
        <td>Nb factures</td>
        <td {% if nb_bills_better %}class="enabled"{% endif %} align='right'>{{nb_bills}}</td>
        <td align='right'>{{last_nb_bills}}</td>
        <td align='right'>{{avg_nb_bills}}</td>
        <td align='right'>{{max_nb_bills}}</td>
    </tr>
    <tr>
        <td>Restauration total TTC</td>
        <td {% if guests_total_ttc_better %}class="enabled"{% endif %} align='right'>{{guests_total_ttc}}</td>
        <td align='right'>{{last_guests_total_ttc}}</td>
        <td align='right'>{{avg_guests_total_ttc}}</td>
        <td align='right'>{{max_guests_total_ttc}}</td>
    </tr>
    <tr>
        <td>Restauration nb couverts</td>
        <td {% if guests_nb_better %}class="enabled"{% endif %} align='right'>{{guests_nb}}</td>
        <td align='right'>{{last_guests_nb}}</td>
        <td align='right'>{{avg_guests_nb}}</td>
        <td align='right'>{{max_guests_nb}}</td>
    </tr>
    <tr>
        <td>Restauration TM/couvert</td>
        <td {% if guests_average_better %}class="enabled"{% endif %} align='right'>{{guests_average}}</td>
        <td align='right'>{{last_guests_average}}</td>
        <td align='right'>{{avg_guests_average}}</td>
        <td align='right'>{{max_guests_average}}</td>
    </tr>
    <tr>
        <td>Bar total TTC</td>
        <td {% if bar_total_ttc_better %}class="enabled"{% endif %} align='right'>{{bar_total_ttc}}</td>
        <td align='right'>{{last_bar_total_ttc}}</td>
        <td align='right'>{{avg_bar_total_ttc}}</td>
        <td align='right'>{{max_bar_total_ttc}}</td>
    </tr>
    <tr>
        <td>Bar nb factures</td>
        <td {% if bar_nb_better %}class="enabled"{% endif %} align='right'>{{bar_nb}}</td>
        <td align='right'>{{last_bar_nb}}</td>
        <td align='right'>{{avg_bar_nb}}</td>
        <td align='right'>{{max_bar_nb}}</td>
    </tr>
    <tr>
        <td>Bar TM/facture</td>
        <td {% if bar_average_better %}class="enabled"{% endif %} align='right'>{{bar_average}}</td>
        <td align='right'>{{last_bar_average}}</td>
        <td align='right'>{{avg_bar_average}}</td>
        <td align='right'>{{max_bar_average}}</td>
    </tr>
</table>
<p>La valeur actuelle apparait en vert lorsqu'elle est supérieure à la moyenne.</p>

<h2>TVA</h2>
<ul id="rapports">
    {% for vat in vats %}
    <li>TTC {{vat}}: {{vat.nb}}€</li>
    {% empty %}
    <li>Aucune TVA</li>
    {% endfor %}
    <li
{% if date %}
onclick="window.location='/manager/rapports/{{date.year}}/{{date.month}}/{{date.day}}/vats/send/'"
{% elif week %}
onclick="window.location='/manager/rapports/weekly/{{year}}/{{week}}/vats/send/'"
{% elif month %}
onclick="window.location='/manager/rapports/monthly/{{year}}/{{month}}/vats/send/'"
{% endif %}
    >Envoyer par mail</li>
    <li
{% if date %}
onclick="window.location='/manager/rapports/{{date.year}}/{{date.month}}/{{date.day}}/vats/print/'"
{% elif week %}
onclick="window.location='/manager/rapports/weekly/{{year}}/{{week}}/vats/print/'"
{% elif month %}
onclick="window.location='/manager/rapports/monthly/{{year}}/{{month}}/vats/print/'"
{% endif %}
    >Imprimer</li>
</ul>

<h2>Paiements</h2>
<ul id="rapports">
    {% for payment in payments %}
    <li>{{payment}}: {{payment.nb}}€</li>
    {% endfor %}
</ul>

<h2>Categories</h2>
<ul id="rapports">
    {% for category in categories %}
    <li style="background:{{category.color}};">{{category.nom}} : {{category.nb}}</li>
    {% empty %}
    <li>Rien à afficher</li>
    {% endfor %}
</ul>

<h2>Produits</h2>
<ul id="rapports">
    {% for product in products %}
    <li style="background:{{product.categorie.color}};">{{product.nom}} : {{product.nb}}</li>
    {% empty %}
    <li>Rien à afficher</li>
    {% endfor %}
</ul>

{% endblock %}

