{% extends "base.html" %}
{% block content %}

<table>
    <tr>
        <td>Heure</td>
        <td>Table</td>
        <td>Couverts</td>
        <td>Catégorie</td>
        <td>Plats</td>
        <td>Options</td>
        <td>Notes</td>
    </tr>
    {% for facture in factures %}
        {% if facture.following %}
    <tr>
        <td width="5em">{{facture.following.latest.time}}</td>
        <td width="5em">{{facture.table}}</td>
        <td width="5em">{{facture.couverts}}</td>
        <td style="background:{{facture.following.latest.category.color}};">{{facture.following.latest.category}}</td>
            {% for product in facture.following.latest.produits.all %}
            {% if first %}
        </tr>
            {% else %}
            <tr><td colspan="4"></td>
            {% endif %}
            <td>{{product.produit.nom}}{% if product.cuisson %} ({{product.cuisson}}){% endif %}</td>
            <td>{% for option in product.options.all %}{{option.name}}
                    {% if not forloop.last %} / {% endif %}
                {% endfor %}</td>
            <td>{% for note in product.notes.all %}{{note.message}}
                    {% if not forloop.last %} / {% endif %}
                {% endfor %}</td>
            </tr>
            {% endfor %}
        {% endif %}
    {% endfor %}
</table>

{% endblock %}

