{% extends "base.html" %}
{% block content %}

<h1>Cuisine</h1>

<ul id="kitchen">
    {% for suivi in suivis %}
    <li onclick="window.location='/bill/{{suivi.facture.id}}/'" 
        style="background:{{suivi.category.couleur.web}};">
        [{{suivi.date|date:'H:i'}}] 
        {% if suivi.facture.table %}{{suivi.facture.table}}
        {% else %}Table ?{% endif %}
        </br>{{suivi.category.nom}}</li>
    {% empty %}
    <li>Aucune table en cours.</li>
    {% endfor %}
</ul>

{% endblock %}

