{% extends "base.html" %}
{% block content %}

<ul id="back">
<li onclick="window.location='/kitchen/'">Retour cuisine</li>
<li onclick="window.location='/bill/{{facture.id}}/'">Retour commande</li>
</ul>

<h1>Table {{facture.table}} ({{facture}})</h1>

{% for follow in facture.following.iterator %}

<h2>{{follow}}</h2>
<ul id="kitchen">
    {% for product in follow.produits.iterator %}
    <li style="background:{{product.produit.categorie.color}};">
    {{product}}
    {% if product.cuisson %}({{product.cuisson}}){% endif %}
        </li>
    {% empty %}
    <li>Aucun produit.</li>
    {% endfor %}
</ul>
{% endfor %}

{% endblock %}

