
/*********************************
**      basic html tags         **
*********************************/
body
{
    margin: 0;
    padding: 0;
    background: #FFF;
    text-align: justify;
    font-family: Vectora, Utopia, Arial, Times, serif;
}
a, a:link, a:visited, a:active
{
    text-decoration: none;
    color: #003882;/*#C1C1C1;*/
}
img
{
    border-style: none;
}

a:hover
{
    text-decoration: none;/*underline; doesn't work well*/
    color: #003882; /*#C2C2C2;*/
}
p
{

}

table, thead, tbody, tfoot
{
    border: none;
        border-collapse: collapse;
    margin: 0 auto;
    padding: 0;
    width: 95%;
}
tr
{
    border: none;
    margin: 0;
    padding: 0;
}
th
{
    border: 1px ridge #94CBD6;
    background-color: #E1DBFF;
    margin: 0;
    padding: 3px;
}
td
{
    border: 1px ridge #94CBD6;
    margin: 0;
    padding: 3px;
}

input[type=radio]
{
    width: 15px;
    margin: 5px;
}

input
{
    width: 95%;
    margin: 5px;
}
.prize
{
    width: 50px;
}

/*
** footer section
*/
#footer
{
    position: absolute;
    clear: both;
    background-color: #FFFFFF;
    width: 100%;
    border-top: 1px solid #DDDDDD;
    margin: 0 auto;
    bottom: 0px;
   /* height: 30px;*/
}
.footerLinkElement
{
    display: inline;

}
.footerLinkElement:after
{
    content:"   ";
}
div.left
{
    position: relative;
    float: left;
    left: 0.50%;
    width: 31%;
    text-align: left;
}
div.center
{
    position: relative;
    float: left;
    left: 1.50%;
    width: 33%;
    text-align: center;
}
div.right
{
    position: relative;
    float: right;
    right: 2.50%;
    width: 33%;
    text-align: right;
}
#login
{
    position: absolute;
    clear: both;
    display: block;
    padding: 0;
    margin: 0;
    width: 500px;
    border: 1px solid #DDDDDD;
    top: 30%;
    left: 40%;
}
#login ul
{
    list-style: none;
    padding: 0px;
    margin: 0px;
}
#login li
{
    text-align: center;
}
#login p input
{
    width: 70%;
}
#login p
{
    text-align: right;
}
/*
** menu
*/
#menu
{
    float: top;
    margin: 0;
    padding: 0;
    width: 100%;
    overflow: auto;
    background-color: #FFFFFF;
    border: 1px solid #DDDDDD;
}
#menu  a, a:link, a:visited, a:active
{
    text-decoration: none;
    color: #003882;/*#202020;*/
}
#menu ul
{
    list-style: none;
}
#menu li
{
    list-style: none;
    text-align: center;
    width:100px;
    float:left; /* c'est cette balise qui fait l'effet tableau*/
    height:40px;
    background:#eee;
    margin:5px;
    overflow:hidden; /* permet de limiter l'affichage du contenu au dimension du contenant */
    padding:5px;
}
#menu li.menuSelected
{
    background-color: #DEE5F0;
}
#content
{
    margin: 10px;
    background-color: #FFFFFF;
}
/* messages */
.messages {
    list-style: none;
}
.info {
    padding: 1em 1em 1em 1em;
    border: 1px solid #000000;
    margin: 1em 5em 1em 5em;
    text-align: center;
    background-color: #00FF00;
}
.success {
    padding: 1em 1em 1em 1em;
    border: 1px solid #000000;
    margin: 1em 5em 1em 5em;
    text-align: center;
    background-color: #00FF00;
}
.warning {
    padding: 1em 1em 1em 1em;
    border: 1px solid #000000;
    margin: 1em 5em 1em 5em;
    text-align: center;
    background-color: #f8bd30;
}
.error {
    padding: 1em 1em 1em 1em;
    border: 1px solid #000000;
    margin: 1em 5em 1em 5em;
    text-align: center;
    background-color: #FF0000;
}

#content a, a:link, a:visited, a:active
{
    /*text-decoration: underline;
    color: #101010;*/
    width: 100%;
}
.ligne1
{
    background-color: #94FFF8;
}
.ligne2
{
    background-color: #E8FDFF;
}
.ligne1:hover, .ligne2:hover
{
    background-color: #74DFD8;
    cursor:pointer ;
}
.liste
{
    max-height: 75%;
    overflow: auto;
}
/* Formulaire d'envoi de données etudiant / entreprise */
.formulaireTable
{
    width: 75%;
    border: none;
    margin: 0 auto;
    padding: 0;
    margin-top: 10px;
}
.formulaireTable th
{
    text-align: right;
    width: 40%;
}
/*.formulaireTable td
{
    width: 60%;
    text-align: left;
}*/
.formulaireTable caption
{
    font-size: large;
}
.recherche label
{
    float:left;
}
.recherche input
{
    float:right;
}
.submitbutton
{
    /*background-color: #FFFFFF;    */
    /*width: 40%*/
}
.submitbutton:hover
{
    /*background-color: #CCCCCC;*/
    font-weight:bold;
    color: #003882;
}
div.button
{
    float:right;
    width:30%;
    position:relative
}
.errorlist
{
    color:#DD1111;
}

ul
{
}

li
{
    text-align:center;
}

/* list of bills */
#bills {
    list-style:none; /* inutile pour safari et firefox, mais pas pour IE */
}
#bills li {
    float:left; /* c'est cette balise qui fait l'effet tableau*/
    width:140px;
    height:70px;
    background:#eee;
    margin:5px;
    overflow:hidden; /* permet de limiter l'affichage du contenu au dimension du contenant */
    padding:5px;
}

#product_info {
    list-style:none;
}
#product_info li {
    float:left; /* c'est cette balise qui fait l'effet tableau*/
    width:140px;
    height:40px;
    background:#eee;
    margin:5px;
    overflow:hidden; /* permet de limiter l'affichage du contenu au dimension du contenant */
    padding:5px;
}
#product_info li.critical { 
    background-color: #FF0000;
}
#product_info li.disabled { 
    background-color: #FF0000;
}
#product_info li.enabled { 
    background-color: #00FF00;
}
#category_info {
    list-style:none;
}
#category_info li {
    float:left; /* c'est cette balise qui fait l'effet tableau*/
    width:140px;
    height:40px;
    background:#eee;
    margin:5px;
    overflow:hidden; /* permet de limiter l'affichage du contenu au dimension du contenant */
    padding:5px;
}
#category_info li.critical { 
    background-color: #FF0000;
}
#category_info li.disabled { 
    background-color: #FF0000;
}
#category_info li.enabled { 
    background-color: #00FF00;
}
#sold_info {
    list-style:none;
}
#sold_info li {
    float:left; /* c'est cette balise qui fait l'effet tableau*/
    width:140px;
    height:40px;
    background:#eee;
    margin:5px;
    overflow:hidden; /* permet de limiter l'affichage du contenu au dimension du contenant */
    padding:5px;
}
#sold_info li.critical { 
    background-color: #FF0000;
}
#type_payment {
    list-style:none;
}
#type_payment li {
    float:left; /* c'est cette balise qui fait l'effet tableau*/
    width:140px;
    height:20px;
    background:#eee;
    margin:5px;
    overflow:hidden; /* permet de limiter l'affichage du contenu au dimension du contenant */
    padding:5px;
}
#type_payment li.enabled { 
    background-color: #00FF00;
}
#bill_info {
    list-style:none;
}
#bill_info li {
    float:left; /* c'est cette balise qui fait l'effet tableau*/
    width:140px;
    height:40px;
    background:#eee;
    margin:5px;
    overflow:hidden; /* permet de limiter l'affichage du contenu au dimension du contenant */
    padding:5px;
}
#bill_info li.critical { 
    background-color: #FF0000;
}
#bill_info li.disabled { 
    background-color: #FF0000;
}
#bill_info li.enabled { 
    background-color: #00FF00;
}
/* list of tables */
#tables {
    list-style:none; /* inutile pour safari et firefox, mais pas pour IE */
}
#tables li {
    float:left; /* c'est cette balise qui fait l'effet tableau*/
    width:30px;
    height:30px;
    background:#eee;
    margin:5px;
    overflow:hidden; /* permet de limiter l'affichage du contenu au dimension du contenant */
    padding:5px;
}

#vats {
    list-style:none; /* inutile pour safari et firefox, mais pas pour IE */
}
#vats li {
    float:left; /* c'est cette balise qui fait l'effet tableau*/
    width:200px;
    height:40px;
    background:#eee;
    margin:5px;
    overflow:hidden; /* permet de limiter l'affichage du contenu au dimension du contenant */
    padding:5px;
}
/* list of categories */
#categories {
    list-style:none; /* inutile pour safari et firefox, mais pas pour IE */
}
#categories li {
    float:left; /* c'est cette balise qui fait l'effet tableau*/
    width:200px;
    height:40px;
    background:#eee;
    margin:5px;
    overflow:hidden; /* permet de limiter l'affichage du contenu au dimension du contenant */
    padding:5px;
}
/* list of products sold */
#products_sold {
    list-style:none; /* inutile pour safari et firefox, mais pas pour IE */
}
#products_sold li {
    float:left; /* c'est cette balise qui fait l'effet tableau*/
    width:200px;
    height:40px;
    background:#eee;
    margin:5px;
    overflow:hidden; /* permet de limiter l'affichage du contenu au dimension du contenant */
    padding:5px;
}
/* list of paiements */
#paiements {
    list-style:none; /* inutile pour safari et firefox, mais pas pour IE */
}
#paiements li {
    float:left; /* c'est cette balise qui fait l'effet tableau*/
    width:200px;
    height:30px;
    background:#eee;
    margin:5px;
    overflow:hidden; /* permet de limiter l'affichage du contenu au dimension du contenant */
    padding:5px;
}
/* list of products */
#products {
    list-style:none; /* inutile pour safari et firefox, mais pas pour IE */
}
#products li {
    float:left; /* c'est cette balise qui fait l'effet tableau*/
    width:200px;
    height:30px;
    background:#eee;
    margin:5px;
    overflow:hidden; /* permet de limiter l'affichage du contenu au dimension du contenant */
    padding:5px;
}
/* list of couverts */
#couverts {
    list-style:none;
}
#couverts li {
    float:left;
    width:30px;
    height:30px;
    background:#eee;
    margin:5px;
    overflow:hidden;
    padding:5px;
}
.affichage_sans_float {
    clear: both;
}


