<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="fr" lang="fr">
<head>
    <meta charset="utf-8" />
    <link rel="shortcut icon" type="image/x-icon" href="/static/images/favicon.png" />
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <meta name=author content="S. Bonnegent">
    <script type="text/javascript" src="/static/base.js"></script>
    {% if chart1 or chart2 %}
        <script src="/static/jquery.min.js" type="text/javascript"></script>
        <script src="/static/highcharts/js/highcharts.js" type="text/javascript"></script>
        {% load chartit %}
        {% if chart1 %}
            {{ chart1|load_charts:"chart_view_1" }}
        {% elif chart2 %}
            {{ chart2|load_charts:"chart_view_1,chart_view_2" }}
        {% endif %}
    {% endif %}
    <link rel="stylesheet" href="/static/base.css"/>
    <title>POSSUM</title>
    {% if need_auto_refresh %}
    <meta http-equiv="refresh" content="{{need_auto_refresh}}">
    {% endif %}
</head>
<body>
    {% block menu %}
    <ul id="menu">
        <li 
        {% if menu_home %}
            class="menuSelected"
        {% endif %}
            onclick='window.location="{% url 'home' %}"'>
            Accueil
        </li>
        {% if menu_bills %}
            <li class="menuSelected" 
                onclick='window.location="{% url 'bill_home' %}"'>
                Commandes
            </li>
        {% endif %}
        {% if menu_kitchen %}
            <li class="menuSelected"
                onclick='window.location="{% url 'kitchen' %}"'>
                Cuisine
            </li>
        {% endif %}
        {% if menu_manager %}
            <li class="menuSelected"
                onclick='window.location="{% url 'manager' %}"'>
                Manager
            </li>
        {% endif %}
        <li>
            <div id="myclock">
                <script type="text/javascript">window.onload = date_heure('myclock');</script>
            </div>
        </li>
        {% if user.is_authenticated %}
            <li class="{% if menu_profile %}menuSelected{% endif %}"
            onclick='window.location="{% url 'profile' %}"'>
                {{user.username}}
            </li>
        {% endif %}
    </ul>
    {% endblock %}
    {% block page %}
    <div id="content">
        {% if messages %}
        <ul id="messages">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% block content %}
            <p>Il y a un problème dans le template, le contenu de la page vide.</p>
        {% endblock %}
    </div>
    {% endblock %}
    </body>
</html>
