{% extends "template.html" %}
{% block page %}
<script type="text/javascript">window.onload = date_heure('myclock');</script>

<ul id="menu">
    <li class="{% if menu_carte %}menuSelected{% endif %}" onclick="window.location='/carte/categories/'">
        <img src="/static/images/carte-90x20.jpg">
    </li>
    <li class="{% if menu_bills %}menuSelected{% endif %}" onclick="window.location='/bills/'">
        Commandes
    </li>
    <li class="{% if menu_kitchen %}menuSelected{% endif %}" onclick="window.location='/kitchen/'">
        Cuisine
    </li>
    <li class="{% if menu_manager %}menuSelected{% endif %}" onclick="window.location='/manager/'">
        Manager
    </li>
    <li>HEURE</li>
    {% if user.is_authenticated %}
    <li class="{% if menu_profile %}menuSelected{% endif %}" onclick="window.location='/profile/'"><a href="/profile/">{% if user.get_full_name %}{{ user.get_full_name }}{%else%}{{user.username}}{%endif%}</a></li>
    <li><a href="/users/logout/">Déconnexion</a></li>
    {% else %}
    <li><a href="/users/login/">Connexion</a></li>
    {% endif %}
</ul>

        <div id="content">
            {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}

            {% block content %}<p>Contenu de la page (Vide!).</p>{% endblock %}
        </div>
{% endblock %}
