{% extends "template.html" %}
{% block page %}
{% if error %}<div id="error"><p>{{error}}</p></div>{%endif%}

<div id="login">
	
    <form method='post' action='/users/login/' name='login'>{% csrf_token %}
	<ul class="login">
		<li><img src="/static/images/bandeau-128.png" alt="logo"/></li>
		<li><p>identifiant : <input type='text' name='username' size='20'></p>
			<p>mot de passe : <input type='password' name='password' size='20'></p></li>
        <li><input type='submit' value='Connexion'></li>
    </ul>
</form>
</div>
{% endblock %}
