{% extends "base.html" %}
{% block content %}

<ul id="back">
<li onclick="window.location='/manager/'">Retour</li>
</ul>

<h1>Archives du {{date|date:'d F Y'}}</h1>

<form method='post' action='/manager/archives/' name='archives'>{% csrf_token %}
<ul id="date_form">
    {{ date_form.as_ul }}
    <li><input type='submit' value='Changer'></li>
</ul>
</form>

<h2>Factures</h2>
<ul id="bills">
        {% for facture in factures %}
        <li onclick="window.location='/manager/archives/bill/{{facture.id}}/'">
        {{facture}}</br>
        Couverts: {{facture.couverts}}</br>
        Table: {% if facture.table %}{{facture.table}}{% endif %}</br>
        Montant: {{facture.total_ttc}}€</br>
        </li>
        {% empty %}
        <li>Pas de facture.</li>
        {% endfor %}
</ul>

{% endblock %}

