{% extends "base.html" %}
{% block content %}

<ul id="back">
<li onclick="window.location='/manager/archives/'">Retour archives</li>
</ul>

<h1>Commande [{{facture}}]</h1>
<ul id="bill_info">
    <li>Table:</br>{{facture.table.nom}}</li>
    <li>Couverts:</br>{{facture.couverts}}</li>
    <li
        {% if facture.onsite %}
            class="enabled">sur place
        {% else %}
            class="disabled">à emporter
        {% endif %}
    </li>
    <!--li onclick="window.location='/bill/{{facture.id}}/print/'">Imprimer le ticket</li-->
    <li>Total TTC:</br>{{facture.total_ttc}}€</li>
    <li>Restant à payer:</br>{{facture.restant_a_payer}}€</li>
    <!--li onclick="window.location='/bill/{{facture.id}}/delete/'" class="critical">Supprimer</li-->
</ul>

<h2>Produits</h2>

<ul id="products_sold">
    {% for vendu in facture.produits.all %}
    <li style="background:{{vendu.produit.categorie.couleur.web}};">
    {{vendu}} ({{vendu.produit.get_prize}})</br>
        {% if vendu.cuisson %}({{vendu.cuisson}}){% endif %}
        {{ vendu.get_menu_resume }}
        </li>
    {% empty %}
    <li>Aucun produit ?</li>
    {% endfor %}
</ul>

{% for vendu in facture.produits.all %}
    {% if vendu.est_un_menu %}
    <h3>{{vendu}}</h3>
    <ul id="products_sold">
        {% for sub in vendu.get_menu_products %}
        <li style="background:{{sub.produit.categorie.couleur.web}};">
        {{sub}}</br>
        {% if sub.cuisson %}({{sub.cuisson}}){% endif %}
        </li>
        {% endfor %}
    </ul>
    {% endif %}
{% endfor %}

<h2>Paiements</h2>
<ul id="paiements">
    {% for payment in facture.paiements.all %}
        <li>{{payment.type.nom}} {{payment.montant}}</li>
    {% endfor %}
</ul>

<h2>TVA</h2>
<ul id="vats">
    {% for vat in facture.vats.all %}
    <li>{{vat}}</li>
    {% empty %}
    <li>Aucune TVA</li>
    {% endfor %}
</ul>

<h2>Suivi en cuisine</h2>
<ul id="kitchen">
    {% for suivi in suivis %}
    <li
            style="background:{{suivi.category.couleur.web}};">
         {{suivi}}
    </li>
    {% empty %}
    <li>Aucun suivi.</li>
    {% endfor %}
</ul>

{% endblock %}

