{% extends "base.html" %}
{% block content %}

<ul id="back">
<li onclick="window.location='/manager/archives/'">Retour archives</li>
</ul>

<h1>Commande [{{bill}}]</h1>
<ul id="bill_info">
    <li>Table:</br>{{bill.table.nom}}</li>
    <li>Couverts:</br>{{bill.couverts}}</li>
    <li
        {% if bill.onsite %}
            class="enabled">sur place
        {% else %}
            class="disabled">à emporter
        {% endif %}
    </li>
    <li>Total TTC:</br>{{bill.total_ttc}}€</li>
    <li>Restant à payer:</br>{{bill.restant_a_payer}}€</li>
</ul>

<h2>Produits</h2>
<ul id="products_sold">
    {% for sold in products_sold %}
        {% if sold.count > 1 %}
    <li style="background:{{sold.produit.categorie.color}}"
        id="{{sold.id}}" href="javascript:void(0)"
        onclick="javascript:myLinkButtonClick(this.id);">
        {{sold.count}}x {{sold.produit.nom}}</li>
    <div id="list_{{sold.id}}" style="display: none">
    {% for member in sold.members %}
    <li style="background:{{sold.produit.categorie.color}}">
        {{member}}
    </li>
    {% endfor %}
    </div>
    {% else %}
    <li style="background:{{sold.produit.categorie.color}}">
      {{sold}}
    </li>
    {% endif %}
    {% endfor %}
</ul>

<h2>Paiements</h2>
<ul id="paiements">
    {% for payment in bill.paiements.iterator %}
        <li>{{payment.type.nom}} {{payment.montant}}</li>
    {% endfor %}
</ul>

<h2>TVA</h2>
<ul id="vats">
    {% for vat in bill.vats.iterator %}
    <li>{{vat}}</li>
    {% empty %}
    <li>Aucune TVA</li>
    {% endfor %}
</ul>

<h2>Suivi en cuisine</h2>
<ul id="kitchen">
    {% for follow in bill.following.iterator %}
    <li
            style="background:{{follow.category.color}};">
         {{follow}}
    </li>
    {% empty %}
    <li>Aucun suivi.</li>
    {% endfor %}
</ul>

{% endblock %}

