{% extends "base.html" %}
{% block content %}

<ul id="back">
    <li onclick='window.location="{% url 'kitchen' %}"'>Retour cuisine</li>
    <li onclick='window.location="{% url 'bill_view' facture.id %}"'>Retour commande</li>
</ul>

<h1>Table {{facture.table}} / {{facture.couverts}} couv. ({{facture}})</h1>

<table>
    <tr>
        <td>Heure</td>
        <td>Catégorie</td>
        <td>Plats</td>
        <td>Options</td>
        <td>Notes</td>
    </tr>
{% for follow in facture.following.iterator %}
    <tr>
        <td width="5em">{{follow.time}}</td>
        <td style="background:{{follow.category.color}};">{{follow.category}}</td>
        {% for product in follow.produits.all %}
                {% if first %}
        </tr>
                {% else %}
            <tr><td colspan="2"></td>
                {% endif %}
            <td>{{product.produit.nom}}{% if product.cuisson %} ({{product.cuisson}}){% endif %}</td>
            <td>{% for option in product.options.all %}{{option.name}}
                    {% if not forloop.last %} / {% endif %}
                {% endfor %}</td>
            <td>{% for note in product.notes.all %}{{note.message}}
                    {% if not forloop.last %} / {% endif %}
                {% endfor %}</td>
            </tr>
        {% endfor %}
{% endfor %}
</table>

{% endblock %}

