{% extends "base.html" %}
{% block content %}

<h1>Gestion des tables</h1>

<ul id="zones">
    <li onclick="window.location='{% url "tables_zone_new" %}'">Ajouter une zone</li>
</ul>

{% for zone in zones %}
    <h2>{{zone.nom}}</h2>
    {% if zone.surtaxe %}
    <p>Cette zone est soumise à une surtaxe.</p>
    {% endif %}

<ul id="zones">
    <li onclick="window.location='{% url "tables_zone" zone.id %}'">Modifier</li>
    <li onclick="window.location='{% url "tables_zone_delete" zone.id %}'"
        class="critical">Supprimer</li>
</ul>
    <ul id="tables">
        <li onclick="window.location='{% url "tables_table_new" zone.id %}'">+</li>
        {% for table in zone.tables %}
        <li onclick="window.location='{% url "tables_table" zone.id table.id %}'"
            {% if zone.surtaxe %}class="surtaxe"{% endif %}>
            {{table.nom}}
            </li>
        {% endfor %}
    </ul>
{% endfor %}

{% endblock %}

