{% extends "base.html" %}
{% block content %}

<ul id="back">
    <li onclick="window.location='/manager/'">Retour</li>
    <li onclick="window.location='/manager/graphics/year/ttc/'"
        {% if ttc %}class="selected"{% endif %}>TTC</li>
    <li onclick="window.location='/manager/graphics/year/bar/'"
        {% if bar %}class="selected"{% endif %}>Bar</li>
    <li onclick="window.location='/manager/graphics/guests/{{year}}/'"
        {% if guests %}class="selected"{% endif %}>Restaurant</li>
    <li onclick="window.location='/manager/graphics/categories/{{year}}/'"
        {% if categories %}class="selected"{% endif %}>Catégories</li>
    {% for cat in cat_list %}
    <li onclick="window.location='/manager/graphics/{{cat.id}}/{{year}}/'"
        style="background:{{cat.color}};"
    {% if categories %}class="selected"{% endif %}>{{cat.nom}}</li>
    {% endfor %}

{% if month %}
{% elif week %}

{% else %}
<form method='post' action='/manager/graphics/year/' name='year'>{% csrf_token %}
            {{ year_form.as_ul }}
                <li><input type='submit' value="Afficher l'année"></li>
            </form>

{% endif %}

</ul>


<h1></h1>
<div id='chart1'></div>
<div id='chart2'></div>

{% endblock %}

