{% extends "base.html" %}
{% block content %}

<ul id="back">
    <li onclick='window.location="{% url 'bill_view' bill_id %}"'>Retour facture</li>
</ul>

<h1>Nouveau paiement</h1>
<h2>1. Type</h2>
<ul id="type_payment">
    {% for type in type_payments %}
        <li {% if type == type_selected %}class="enabled"{% endif %}
        onclick='window.location="{% url 'type_payment' bill_id type.id %}"' >
        {{type.nom}}</li>
    {% empty %}
        <li>Aucun type de paiement disponible.</li>
    {% endfor %}
</ul>

<h2>2. Montant</h2>
{% if type_selected %}
    {% if type_selected.fixed_value %}
    <h3>2.1 Nombre de tickets</h3>
    <ul id="numbers">
        {% for i in range %}
        <li onclick='window.location="{% url 'payment_count' bill_id i %}"'
            {% if i == tickets_count %}class=enabled{% endif %}
        >{{i}}</li>
        {% endfor %}
        <li onclick='window.location="{% url 'amount_count' %}"'>+</li>
    </ul>
    <h3>2.2 Total</h3>
    <ul id="payment_tickets">
        <li onclick='window.location="{% url 'amount_payment' %}"'>
            Valeur d'un ticket: {{left}}.{{right}}€</li>
        <li onclick='window.location="{% url 'amount_count' %}"'>Nb tickets: {{tickets_count}}</li>
        <li onclick='window.location="{% url 'save_payment' bill_id %}"'>Enregistrer le paiement</li>
    {% else %}
    <ul id="payment_tickets">
        <li onclick='window.location="{% url 'amount_payment' %}"'>
    Montant: {{left}},{{right}}€</li>
        <li onclick='window.location="{% url 'save_payment' bill_id %}"'>Enregistrer le paiement</li>
    {% endif %}
{% else %}
<ul id="payment_tickets">
    <li>Montant: {{left}},{{right}}€</li>
    <li>Enregistrer le paiement</li>
{% endif %}
</ul>

<h2>Paiements enregistrés</h2>
<p>Vous pouvez supprimer un paiement en le sélectionnant.</p>
<ul id="paiements">
    {% for payment in payments %}
        <li onclick="window.location='{% url "bill_payment_delete" bill_id payment.id %}'">
        {{payment.type.nom}}: {{payment.montant}}€</li>
    {% empty %}
        <li>Aucun paiement</li>
    {% endfor %}
</ul>


{% endblock %}

