{% extends "base.html" %}
{% block content %}

<ul id="back">
    <li onclick='window.location="{% url 'bill_view' bill_id %}"'>Retour facture</li>
</ul>

<h1>Paiement {{payment.type}}</h1>
<ul id="payment_tickets">
{% if payment.type.fixed_value %}
<li>Valeur d'un ticket: {{payment.valeur_unitaire}}€</li>
<li>Nb tickets: {{payment.nb_tickets}}</li>
{% endif %}
<li>Total: {{payment.montant}}€</li>
<li onclick='window.location="{% url 'bill_payment_delete' bill_id payment.id %}"' 
    class="critical">Supprimer ce paiement</li>
</ul>

{% endblock %}

