{% extends "base.html" %}
{% block content %}

<ul id="carte_options">
    <li onclick="window.location='/carte/send/'">Envoyer par mail</li>
    <li onclick="window.location='/carte/print/'">Imprimer</li>
</ul>

<h2>Catégories</h2>
<ul id="categories">
    <li onclick="window.location='/carte/categories/add/'">Ajouter</li>
    {% for category in categories %}
    <li onclick="window.location='/carte/categories/{{category.id}}/'"
        class="cat_{{category.id}}">
        [{{category.priorite}}] {{category.nom}}
        </li>
    {% endfor %}
</ul>

{% endblock %}

