{% extends "base.html" %}
{% block content %}

<ul id="back">
    <li onclick="window.location='/carte/'">Retour carte</li>
</ul>

<h1>Catégorie: {{category.nom}}</h1>
<h2>Priorité d'affichage</h2>
<ul id="category_info">
    <li onclick="window.location='/carte/categories/{{category.id}}/less-10/'">
        <<</br>
        Priorité - 10</li>
    <li onclick="window.location='/carte/categories/{{category.id}}/less/'">
        <</br>
        Priorité - 1</li>
    <li>Priorité:</br>{{category.priorite}}</li>
    <li onclick="window.location='/carte/categories/{{category.id}}/more/'">
        ></br>
        Priorité + 1</li>
    <li onclick="window.location='/carte/categories/{{category.id}}/more-10/'">
        >></br>
        Priorité + 10</li>
</ul>
<h2>Paramètres</h2>
<ul id="category_info">
    <li onclick="window.location='/carte/categories/{{category.id}}/color/'" 
        class="cat_{{category.id}}">
        Couleur:</br>{{category.color}}</li>
    <li onclick="window.location='/carte/categories/{{category.id}}/name/'">
        Changement de nom</li>
    <li onclick="window.location='/carte/categories/{{category.id}}/surtaxable/'"
        {% if category.surtaxable %}
            class="enabled"> Est surtaxable
        {% else %}
            class="disabled"> N'est pas surtaxable
        {% endif %}
    </li>
    <li onclick="window.location='/carte/categories/{{category.id}}/disable_surtaxe/'"
        {% if category.disable_surtaxe %}
            class="enabled"> Peux annuler la surtaxe
        {% else %}
            class="disabled"> Ne peux annuler la surtaxe
        {% endif %}
    </li>
    <li onclick="window.location='/carte/categories/{{category.id}}/vat_onsite/'"
        {% if category.vat_onsite %}
            >TVA sur place:</br>{{category.vat_onsite.name}}
        {% else %}
            class="disabled">TVA sur place:</br>non défini
        {% endif %}
    </li>
    <li onclick="window.location='/carte/categories/{{category.id}}/vat_takeaway/'"
        {% if category.vat_takeaway %}
            >TVA à emporter:</br>{{category.vat_takeaway.name}}
        {% else %}
            class="disabled">TVA à emporter:</br>non défini
        {% endif %}
    </li>
    <li onclick="window.location='/carte/categories/{{category.id}}/kitchen/'"
        {% if category.made_in_kitchen %}
            class="enabled">Est préparé dans la cuisine
        {% else %}
            class="disabled">N'est pas préparé dans la cuisine
        {% endif %}
    </li>
    <li onclick="window.location='/carte/categories/{{category.id}}/delete/'" class="critical">Supprimer</li>
</ul>

<h2>Produits actifs</h2>
<ul id="products">
    <li onclick="window.location='/carte/categories/{{category.id}}/product/new/'">Ajouter</li>
    {% for product in products_enable %}
        <li 
            onclick="window.location='/carte/products/{{product.id}}/'" 
            class="cat_{{category.id}}">{{product.nom}}
        </li>
    {% endfor %}
</ul>

<h2>Anciens produits</h2>
<ul id="products">
    {% for product in products_disable %}
        <li 
            onclick="window.location='/carte/products/{{product.id}}/'" 
            class="cat_{{category.id}}">{{product.nom}}
        </li>
    {% empty %}
        <li>Aucun produit disponible.</li>
    {% endfor %}
</ul>

{% endblock %}

