{% extends "base.html" %}
{% block content %}

<ul id="back">
    <li onclick="window.location='/carte/categories/{{product.categorie.id}}/'">Retour catégorie</li>
</ul>

<h1>Produit: {{product.nom}}</h2>
<ul id="product_info">
    <li onclick="window.location='/carte/products/{{product.id}}/change/'">
        Nom:</br>
        {{product.nom}}</li>
        <li onclick="window.location='/carte/products/{{product.id}}/change/'">
        Nom facture:</br>
        {{product.nom_facture}}</li>
    <li onclick="window.location='/carte/products/{{product.id}}/category/'" 
        style="background:{{product.categorie.color}};">
        Catégorie:</br>{{product.categorie}}</li>
    <li onclick="window.location='/carte/products/{{product.id}}/enable/'"
        {% if product.actif %}
            class="enabled"> Est actif
        {% else %}
            class="disabled"> N'est pas actif
        {% endif %}
    </li>
    <li onclick="window.location='/carte/products/{{product.id}}/cooking/'"
        {% if product.choix_cuisson %}
            class="enabled">Peux choisir la cuisson
        {% else %}
            class="disabled">Ne peux pas choisir la cuisson
        {% endif %}
    </li>
    <li onclick="window.location='/carte/products/{{product.id}}/change/'">
        Prix TTC:</br>
        {{product.prix}}€</li>
    <li>
        TTC avec surtaxe:</br>
        {{product.price_surcharged}}€</li>
    <li>
        TVA avec surtaxe:</br>
        {{product.vat_surcharged}}€</li>
    <li>
        TVA sur place:</br>
        {{product.vat_onsite}}€</li>
    <li>
        TVA à emporter:</br>
        {{product.vat_takeaway}}€</li>
</ul>

<h2>Catégories actives</h2>
<p>Si ce produit est un menu qui peut contenir d'autres produits (entrées, plats, ...), vous devez
d'abord activer des catégories de produits ici avant de pouvoir activer des produits ci-dessous.</p>
<ul id="categories">
    <li onclick="window.location='/carte/products/{{product.id}}/categories_ok/select/'">Activer une catégorie</li>
    {% for category in product.categories_ok.iterator %}
    <li onclick="window.location='/carte/products/{{product.id}}/categories_ok/{{category.id}}/del/'" style="background:{{category.color}};">
        {{category.nom}}
        </li>
    {% endfor %}
</ul>

<h2>Produits actifs</h2>
<ul id="products">
    <li onclick="window.location='/carte/products/{{product.id}}/produits_ok/select/'">Activer un produit</li>
    {% for sub in product.produits_ok.iterator %}
        <li 
            onclick="window.location='/carte/products/{{product.id}}/produits_ok/{{sub.id}}/del/'" 
            style="background:{{sub.categorie.color}};">{{sub.nom}}
        </li>
    {% endfor %}
</ul>

{% endblock %}

