{% extends "base.html" %}
{% block content %}

<h1>Produit: {{product.nom}}</h2>

<ul id="product_info">
    <li onclick="window.location='/carte/categories/{{product.categorie.id}}/'">
        Retour catégorie
    </li>
    <li onclick="window.location='/carte/products/{{product.id}}/change/'">
        Nom:</br>
        {{product.nom}}</li>
        <li onclick="window.location='/carte/products/{{product.id}}/change/'">
        Nom facture:</br>
        {{product.nom_facture}}</li>
    <li onclick="window.location='/carte/products/{{product.id}}/category/'" 
        style="background:{{product.categorie.couleur.web}};">
        Catégorie:</br>{{product.categorie}}</li>
    <li onclick="window.location='/carte/products/{{product.id}}/enable/'"
        {% if product.actif %}
            class="enabled"> Est actif
        {% else %}
            class="disabled"> N'est pas actif
        {% endif %}
    </li>
    <li onclick="window.location='/carte/products/{{product.id}}/change/'">
        Prix HT:</br>
        {{product.prix}}€</li>
    <li>
        TTC sur place:</br>
        {{product.get_prize_onsite}}€</li>
    <li>
        TTC à emporter:</br>
        {{product.get_prize_takeaway}}€</li>
</ul>

{% endblock %}

