{% extends "base.html" %}
{% block content %}

<ul id="back">
    <li onclick='window.location="{% url 'categories_view' product.categorie.id %}"'>
        Retour catégorie</li>
</ul>

<h1>Produit: {{product.nom}}</h2>
<p>Attention, en fonction des imprimantes, il est recommandé de limiter l'utilisation des accents et des noms longs.</p>
<ul id="product_info">
    <li onclick='window.location="{% url 'products_view' product.id %}"'>
        Nom:</br>
        {{product.nom}}</li>
        <li onclick='window.location="{% url 'products_category' product.id %}"' 
        style="background:{{product.categorie.color}};">
        Catégorie:</br>{{product.categorie}}</li>
        <li onclick='window.location="{% url 'products_enable' product.id %}"'
        {% if product.actif %}
            class="enabled"> Est actif
        {% else %}
            class="disabled"> N'est pas actif
        {% endif %}
    </li>
    <li onclick='window.location="{% url 'products_cooking' product.id %}"'
        {% if product.choix_cuisson %}
            class="enabled">Peux choisir la cuisson
        {% else %}
            class="disabled">Ne peux pas choisir la cuisson
        {% endif %}
    </li>
    <li onclick='window.location="{% url 'products_change' product.id %}"'>
        Prix TTC:</br>
        {{product.prix}}€</li>
    <li>
        TTC avec surtaxe:</br>
        {{product.price_surcharged}}€</li>
    <li>
        TVA avec surtaxe:</br>
        {{product.vat_surcharged}}€</li>
    <li>
        TVA sur place:</br>
        {{product.vat_onsite}}€</li>
    <li>
        TVA à emporter:</br>
        {{product.vat_takeaway}}€</li>
</ul>

<h2>Options</h2>
<p>Les options en verts sont les options utilisables pour ce produit. Les options sont
classées par ordre alphabétique, il est donc recommandé de préfixer, les
accompagnements par <em>A_</em> et les sauces par <em>S_</em>.</p>
<p>Exemple: A_Frites, A_Gratin, S_Poivre, S_Moutarde</p>
<ul id="options">
    {% for option in options %}
        <li
        onclick='window.location="{% url 'products_option' product.id option.id %}"'
            {% if option in product.options_ok.all %}
            class="enabled"{% endif %}>{{option.name}}
        </li>
    {% empty %}
        <li>Aucune option</li>
    {% endfor %}
</ul>

<h3>Créer une nouvelle option</h3>
<form action="{% url 'products_view' product.id %}" method="post">
    {{ option.non_field_errors }}
    {% csrf_token %}
    <table>
        {{option.as_table}}
        <tr><td colspan="2">
                <input type="submit" value="Enregistrer" />
        </td></tr>
    </table>
</form>

<h2>Catégories actives</h2>
<p>Si ce produit est un menu qui peut contenir d'autres produits (entrées, plats, ...), vous devez
d'abord activer des catégories de produits ici avant de pouvoir activer des produits ci-dessous.</p>
<ul id="categories">
    <li onclick='window.location="{% url 'products_select_categories_ok' product.id %}"'>
        Activer une catégorie</li>
    {% for category in product.categories_ok.iterator %}
    <li onclick='window.location="{% url 'products_del_categories_ok' product.id category.id %}"' 
        style="background:{{category.color}};">
        {{category.nom}}
        </li>
    {% endfor %}
</ul>

<h2>Produits actifs</h2>
<p>En cliquant sur un produit, vous l'enlèverais de cette liste.</p>
<ul id="products">
    <li onclick='window.location="{% url 'products_select_produits_ok' product.id %}"'>
        Activer un produit</li>
    {% for sub in product.produits_ok.iterator %}
        {% if sub.actif %}
            <li 
            onclick='window.location="{% url 'products_del_produits_ok' product.id sub.id %}"' 
                style="background:{{sub.categorie.color}};">{{sub.nom}}
            </li>
        {% endif %}
    {% endfor %}
</ul>

{% endblock %}

